
        .no-scrollbar::-webkit-scrollbar { display: none; }
        .no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
        .scroll-snap-x { scroll-snap-type: x mandatory; }
        .scroll-snap-align-start { scroll-snap-align: start; }
        html { scroll-behavior: smooth; }
